body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-image: linear-gradient(#033747 , #012733);
    width: 100%;
    height: 75px;
    line-height: 75px;
 position: fixed;
}
nav .logo img{
    margin: 10px 10px;
    
    height: 60px;
    width: 60px;
    float: left;
}
nav ul{
    float: right;
    margin: 5px;
}
ul li a {
   font-size: 18px;
    padding: 0px 30px;
    text-decoration: none;
    color: white;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
   
}